.banner {
	padding-top: 60px;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 692px;
	text-align: center;
	color:#1d1d1f;
}
.banner1 {
		background-image: url(../img/banner1.jpg);
		background-color: #131313;
		background-size: 1156px 470px;
		color: #f5f5f7;
	}
.banner2 {
	background-color: #fafafa;
	background-image: url(../img/banner2.jpg);
	background-size: 2618px 538px;
}
.banner3 {
	background-color: #fafafa;
	background-image: url(../img/banner3.jpg);
	background-size: 3010px 736px;
}
.banner h1{
	height: 60px;
	font-size: 50px;
	line-height: 60px;
}
.banner h2{
	font-weight: 400;
	margin-top: 3px;
	font-size: 22px;
}
.banner h3{
	font-weight: 300;
	font-size: 16px;
	height: 25px;
	margin: 7px 0 ;
	color: #86868b;
}
.banner3 h2{
	margin-bottom: 7px;
}
.banner h3:first-child {
	color: #bf4800;
}
.banner a {
	color: #2997ff ;
	text-decoration: none;
	font-size: 20px;
}
.banner sup a {
	color:#1d1d1f;
	font-size: 14px;
}

.banner a:hover {
	text-decoration: underline;
}
.banner span a:hover {
	text-decoration: none;
}

@media screen and (max-width:768px) {
	.banner1 {
		background-image: url(../img/banner1sm.jpg);
		background-size: 346px 326px;
		height: 526px;
	}
	.banner2 {
		background-image: url(../img/banner2sm.jpg);
		background-size: 796px 312px;
		height: 526px;
	}
	.banner3 {
		background-image: url(../img/banner3.2.jpg);
		background-size: 736px 548px;
		height: 526px;
	}
	    
}

@media screen and (min-width:768px) and (max-width:1068px) {
	.banner1 {
		background-image: url(../img/banner1.1.jpg);
		background-size: 796px 455px;
		height: 488px;
	}
	.banner2 {
		background-image: url(../img/banner2.1.jpg);
		background-size: 1155px 479px;
	}
	.banner3 {
		background-image: url(../img/banner3.1.jpg);
		background-size: 610px 514px;
	}
}
