.footer {
	font-size: 10px;
	font-weight: 300;
	color: #86868B;
	display: flex;
	flex-direction: column;
	background-color: #f5f5f7;
	align-items: center;
	padding: 0 38px;
	padding-top: 14px;
}
.footer p {
	width: 1068px;
	margin-bottom: 10px;
}
.footer .hr {
        height: 1px;
        background-color: #d2d2d7;
        width: 1068px;
		margin-top: 17px;
		margin-bottom: 20px;
		
}
.footer .footerLink {
	display: flex;
	justify-content: space-between;
	width: 1068px;
}
.footerLink .list {
	cursor: pointer;
}
.footerLink .list li {
	list-style: none;
	padding-bottom: 10px;
	cursor: pointer;
}
.footerLink .list label {
	cursor: pointer;
	height: 30px;
	line-height: 30px;
}

.footerLink .list li a {
	color: #86868B;
	text-decoration: none;

}
.footerLink label {
	font-weight: 350;
	color: #1d1d1f;
	}
.footerLink .list li a:hover {
	text-decoration: underline;
}
.footerLink 
.list input {
	display: none;
}
.list label span{
	display: none;
}
.list .hr {
	display: none;
}
.footEnd {
	margin-top: 20px;
}

@media screen and (max-width:1068px) {
	.footer {
		
	}
	.footer .hr {
		width: 100%;
	}
	.footer p {
		width: 100%;
	}
	.footer .footerLink {
		width: 100%;
	}
}
@media screen and (max-width:768px) {
	
	.footer .footerLink {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
	.footer .list label{
		display: flex;
		justify-content: space-between;
	}
	.footer .list ul{
		transition: height .6s;
		overflow: hidden;
		height: 0;
	}

#plus1:checked~ul, #plus2:checked~ul, #plus3:checked~ul,#plus4:checked~ul,#plus5:checked~ul, #plus6:checked~ul {
		height: 250px;
	}
	.list label span{
		display: flex;
	}
	.list .hr {
		display: flex;
		margin: 5px 0;
	}
	#plus1:checked~label span,
	#plus2:checked~label span,
	#plus3:checked~label span,
	#plus4:checked~label span,
	#plus5:checked~label span,
	#plus6:checked~label span{
		transform: rotate(-45deg);
	}
 	 
	.footer .list li:first-child {
		display: flex;
		justify-content: space-between;
	}
	.footer .list li:first-child label {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}